@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer;
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    //var errordata = ViewData["error"] as string;
}

<div class="rounded-10 p-2 div-br-color">
<br>

<h4 class="text-success">Help</h4>
<hr />

<p>
        # About
        this project is lightweight and use full of your document management system. it has user authentication and authorization, document upload, document search, document download, document. it also has user role management and document categorization. it is a simple and easy to use document management system. it is made with ASP.NET CORE MVC.


</p>
 <p>

        # Features

        - user login & management
        - access authentication & authorization
        - Manage Folders
        - Manage Files
        - Download and edit files with a single click
 </p>

</div>